{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="container">
      <div class="custom-control custom-switch">
        </br>
        </br>
        <h1 class="title">
          <label class="custom-control-label" for="switch">Prende la caldera!</label>
          <input type="checkbox" class="custom-control-input" id="switch" onchange="switch_button(this)">
          </br></br></br>
          <label class="custom-control-label" for="temp"> ¿Cuanto calorsito quieres?</label>
          </br>
          <input type="number" id="temp" onchange="temp_button(this)">
        </h1>
      </div>           
    </div>
  </div>
{% endblock %}
